
#grid{
  margin-top:10px;
  display: grid;
  grid-template-columns: 150px 1fr;
}
.side_List{
  border-right: 1px solid gray;
  width: 150px;
}
.side_List #side_List_Tilte{
  font-size:25px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.side_List .side_List_content{
  margin-top : 10px;
  padding-left: 5px;
  list-style-type: none;
}
#page_Contents{
  margin-left: 50px;
}
.content_Title{
  font-size:30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#subgrid{
  margin-top:10px;
  display: grid;
  grid-template-columns: 160px 1fr;
}
#subgrid2{
  margin-top:10px;
  display: grid;
  grid-template-columns: 430px 1fr;
}
#bold_Text{
  font-weight: bold;
  font-style: initial;
  font-size: 15px;
}
#italic_Text{
  font-style: italic;
}
#link{
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: blue;
}
h1{
  font-size:40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width : 600px) {
  .side_List{
    border:none;
    text-align: center;
    margin: 0 auto;
  }
  #grid{
    display: block;
  }
  #subgrid{
    display: block;
  }
}
